<form role="form">

  <div class="alert alert-danger" ng-show="hasError">
    <strong>Error has occurred. Please double check your inputs!</strong>
  </div>

  <div class="form-group">
    <span ng-repeat="item in applyToList">
      <button class="btn btn-default btn-lg"
              ng-click="currentTx.applyTo = item"
              ng-class="{'btn-warning': currentTx.applyTo === item}">
        {{item}}
      </button>
    </span>
  </div>

  <div class="form-group">
    <button class="btn btn-default btn-lg"
            ng-model="toExpense"
            ng-click="toExpense = true"
            ng-class="{'btn-danger': toExpense === true}">
      Expense
    </button>
    <button class="btn btn-default btn-lg"
            ng-model="toExpense"
            ng-click="toExpense = false"
            ng-class="{'btn-danger': toExpense === false}">
      Income
    </button>
  </div>

  <div class="form-group">
    <span ng-repeat="item in categoryList | filter: filterByApplyTo">
      <button class="btn btn-default btn-lg"
              ng-click="currentTx.category.publicId = item.publicId"
              ng-class="{'btn-success': currentTx.category.publicId === item.publicId}">
        {{item.name}}
      </button>
    </span>
  </div>

  <div class="form-group form-group-lg">
    <label class="control-label" for="amount">Amount</label>
    <input type="number" class="form-control" id="amount" pattern="\d*"
           ng-model="currentTx.amount">
  </div>

  <div class="form-group">
    <button type="button"
            class="btn btn-info btn-block btn-lg"
            data-toggle="collapse"
            data-target="#details">
      Details
    </button>
  </div>

  <div id="details" class="collapse">
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" rows="3" ng-model="currentTx.description"></textarea>
    </div>

    <div class="form-group">
    <span ng-repeat="item in placeList">
      <button class="btn btn-default btn-lg"
              ng-click="currentTx.place.publicId = item.publicId"
              ng-class="{'btn-info': currentTx.place.publicId === item.publicId}">
        {{item.name}}
      </button>
    </span>
    <span>
      <button class="btn btn-default btn-lg"
              ng-click="currentTx.place = null">
        Reset
      </button>
    </span>
    </div>

    <div class="form-group">
    <span ng-repeat="item in eventList">
      <button class="btn btn-default btn-lg"
              ng-click="currentTx.event.publicId = item.publicId"
              ng-class="{'btn-info': currentTx.event.publicId === item.publicId}">
        {{item.name}}
      </button>
    </span>
    <span>
      <button class="btn btn-default btn-lg"
              ng-click="currentTx.event = null">
        Reset
      </button>
    </span>
    </div>

    <div class="form-group form-group-lg">
      <label class="control-label" for="calendar">Date</label>
      <input type="date" class="form-control" id="calendar" ng-model="currentTx.calendar">
    </div>

    <div class="form-group">
    <span ng-repeat="item in currencyList">
      <button class="btn btn-default btn-lg"
              ng-click="currentTx.currency = item"
              ng-class="{'btn-success': currentTx.currency === item}">
        {{item}}
      </button>
    </span>
    </div>
  </div>

  <div class="form-group">
    <button ng-show="!isEditMode" class="btn btn-primary btn-block btn-lg" ng-click="submit(currentTx)"
            ng-disabled="submitted">Add
    </button>
    <button ng-show="isEditMode" class="btn btn-info btn-block btn-lg" ng-click="submit(currentTx)"
            ng-disabled="submitted">Update
    </button>
    <button ng-show="isEditMode" class="btn btn-basic btn-block btn-lg" ng-click="cancel()" ng-disabled="submitted">
      Cancel
    </button>
  </div>

</form>
