<form role="form">

  <div class="alert alert-success" ng-show="status === 'completed'">
    <strong>Successfully your new category is registered!</strong>.
  </div>

  <div class="form-group">
    <label class="control-label" for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="currentCategory.name">
  </div>

  <div class="form-group">
    <label>To Expense?</label>
    <div class="radio">
      <label>
        <input type="radio" name="toExpense1" id="toExpense1" ng-model="currentCategory.toExpense" ng-value="true">True
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="toExpense2" id="toExpense2" ng-model="currentCategory.toExpense" ng-value="false">False
      </label>
    </div>
  </div>

  <button class="btn btn-primary" ng-click="submit(currentCategory)">Add</button>
</form>

<table st-table="rowCollection" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>To Expense?</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in rowCollection">
      <td ng-click="enableEdit(row)">{{row.name}}</td>
      <td>{{row.toExpense}}</td>
    </tr>
  </tbody>
</table>
