<form role="form">

  <div class="alert alert-success" ng-show="status === 'completed'">
    <strong>Successfully your new category is registered!</strong>.
  </div>

  <div class="form-group">
    <label class="control-label" for="categoryApplyToList">Category Apply To</label>
    <select class="form-control" name="categoryApplyToList" id="categoryApplyToList" ng-model="newCategory.categoryApplyTo" ng-change="fetch(newCategory.categoryApplyTo)">
      <option ng-repeat="item in categoryApplyToList" ng-value="item">{{item}}</option>
    </select>
  </div>

  <div class="form-group">
    <label class="control-label" for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="newCategory.name">
  </div>

  <div class="form-group">
    <label>To Expense?</label>
    <div class="radio">
      <label>
        <input type="radio" name="toExpense1" id="toExpense1" ng-model="newCategory.toExpense" value="true">True
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="toExpense2" id="toExpense2" ng-model="newCategory.toExpense" value="false">False
      </label>
    </div>
  </div>

  <button class="btn btn-primary" ng-click="submit(newCategory)">Add</button>
</form>

<table st-table="rowCollection" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Apply to</th>
      <th>To Expense?</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in rowCollection">
      <td>{{row.name}}</td>
      <td>{{row.categoryApplyTo}}</td>
      <td>{{row.toExpense}}</td>
    </tr>
  </tbody>
</table>
