<form role="form">

  <div class="alert alert-success" ng-show="status === 'completed'">
    <strong>Successfully your new category is registered!</strong>.
  </div>

  <div class="form-group">
    <label class="control-label" for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="currentCategory.name">
  </div>

  <div class="form-group">
    <label>To Expense?</label>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button class="btn btn-default btn-lg btn-block"
                ng-model="currentCategory.toExpense"
                ng-click="currentCategory.toExpense = true"
                ng-class="{'btn-danger': currentCategory.toExpense === true}">
          Expense
        </button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button class="btn btn-default btn-lg btn-block"
                ng-model="currentCategory.toExpense"
                ng-click="currentCategory.toExpense = false"
                ng-class="{'btn-danger': currentCategory.toExpense === false}">
          Income
        </button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>To Ignore in Category Balance?</label>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button class="btn btn-default btn-lg btn-block"
                ng-model="currentCategory.toIgnoreCategoryBalance"
                ng-click="currentCategory.toIgnoreCategoryBalance = true"
                ng-class="{'btn-danger': currentCategory.toIgnoreCategoryBalance === true}">
          Ignore
        </button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button class="btn btn-default btn-lg btn-block"
                ng-model="currentCategory.toIgnoreCategoryBalance"
                ng-click="currentCategory.toIgnoreCategoryBalance = false"
                ng-class="{'btn-danger': currentCategory.toIgnoreCategoryBalance === false}">
          Track
        </button>
      </div>
    </div>
  </div>

  <div class="form-group" ng-show="currentCategory.toExpense">
    <label>Is Budget Tracking?</label>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button class="btn btn-default btn-lg btn-block"
                ng-model="currentCategory.isBudgetTracking"
                ng-click="currentCategory.isBudgetTracking = true"
                ng-class="{'btn-danger': currentCategory.isBudgetTracking === true}">
          Track
        </button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button class="btn btn-default btn-lg btn-block"
                ng-model="currentCategory.isBudgetTracking"
                ng-click="currentCategory.isBudgetTracking = false"
                ng-class="{'btn-danger': currentCategory.isBudgetTracking === false}">
          Ignore
        </button>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" ng-click="submit(currentCategory)">Add</button>
</form>

<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
  <thead>
    <tr>
      <th st-sort="name">Name</th>
      <th st-sort="toExpense">Expense?</th>
      <th st-sort="toIgnoreCategoryBalance">Ignore?</th>
      <th st-sort="isBudgetTracking">Tracking?</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in displayedCollection">
      <td ng-click="enableEdit(row)">{{row.name}}</td>
      <td>{{row.toExpense}}</td>
      <td>{{row.toIgnoreCategoryBalance}}</td>
      <td>{{row.isBudgetTracking}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" class="text-center">
        <div st-pagination="" st-items-by-page="itemPerPage" st-displayed-pages=""></div>
      </td>
    </tr>
  </tfoot>
</table>
