<form role="form">

  <div class="alert alert-success" ng-show="status === 'completed'">
    <strong>Successfully your new event is registered!</strong>.
  </div>

  <div class="form-group">
    <label class="control-label" for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="currentEvent.name">
  </div>

  <button class="btn btn-primary" ng-show="!currentEvent.publicId" ng-click="submit(currentEvent)">Add</button>
  <button class="btn btn-info" ng-show="currentEvent.publicId" ng-click="submit(currentEvent)">Save</button>
</form>

<table st-table="rowCollection" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in rowCollection">
      <td ng-click="toggleEdit(row)">{{row.name}}</td>
    </tr>
  </tbody>
</table>
