<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
    <button class="btn btn-lg btn-primary btn-block" ng-click="login()">Log In</button>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
    <button class="btn btn-lg btn-info btn-block" ui-sref="createAccount">Create Account</button>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
    <button class="btn btn-lg btn-success btn-block" ui-sref="dashboard">Dashboard</button>
  </div>
</div>
