<form role="form">

  <div class="form-group">
    <label for="currentHouseHoldId">Current House Hold ID</label>
    <input class="form-control" id="currentHouseHoldId" type="text" ng-model="houseHold.houseHoldId" disabled>
  </div>

  <div class="form-group">
    <label for="newHouseHoldId">New House Hold ID</label>
    <input class="form-control" id="newHouseHoldId" type="text" ng-model="newHouseHoldId">
  </div>

  <button class="btn btn-primary" ng-click="submit(newHouseHoldId)">Update</button>

</form>
