<form role="form">

  <div class="form-group">
    <label class="control-label" for="currency">Currency</label>
    <select class="form-control" name="currency" id="currency" ng-model="currency">
      <option ng-repeat="item in currencyList" ng-value="item">{{item}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>File input</label>
    <input type="file" file-upload="importFile">
  </div>

  <button class="btn btn-primary" ng-click="submit()" ng-disabled="!rowCollection || rowCollection.length === 0">Import</button>

  <hr/>

  <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
      <tr>
        <th st-sort="calendar">Date</th>
        <th st-sort="category">Category</th>
        <th st-sort="place" class="hide-for-small">Place</th>
        <th st-sort="event" class="hide-for-small">Event</th>
        <th st-sort="currency">Currency</th>
        <th st-sort="amount">Amount</th>
        <th st-sort="description" class="hide-for-small">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in displayedCollection track by $index">
        <td>{{row.calendar | date:'yyyy/MM/dd'}}</td>
        <td>
          <select class="form-control" name="category{{$index}}" id="category{{$index}}" ng-model="row.category">
            <option ng-repeat="item in categoryList" ng-value="item">{{item.name}}&nbsp;({{item.categoryApplyTo}})
            </option>
          </select>
        </td>
        <td class="hide-for-small">
          <select class="form-control" name="place{{$index}}" id="place{{$index}}" ng-model="row.place">
            <option ng-value="">--</option>
            <option ng-repeat="item in placeList" ng-value="item">{{item.name}}</option>
          </select>
        </td>
        <td class="hide-for-small">
          <select class="form-control" name="event{{$index}}" id="event{{$index}}" ng-model="row.event">
            <option ng-value="">--</option>
            <option ng-repeat="item in eventList" ng-value="item">{{item.name}}</option>
          </select>
        </td>
        <td>
          <select class="form-control" name="currency{{$index}}" id="currency{{$index}}" ng-model="row.currency">
            <option ng-repeat="item in currencyList" ng-value="item">{{item}}</option>
          </select>
        <td>{{row.amount | isoCurrency:row.currency}}</td>
        <td class="hide-for-small">{{row.description}}</td>
      </tr>
    </tbody>
  </table>

</form>


