<form role="form">

  <div class="form-group">
    <label class="control-label" for="targetMonth">Target Month</label>
    <input type="month" class="form-control" id="targetMonth" ng-model="targetMonth" ng-change="retrieve(targetMonth)">
  </div>

  <button class="btn btn-info btn-md" ng-click="setBudget()">Create Budget</button>

  <div ng-show="item.monthlyBalance.length > 0" ng-repeat="item in wrappedList">
    <h3>
      {{item.currency}}&nbsp;
      <button class="btn btn-md" data-toggle="collapse" data-target="#details{{$index}}"
              ng-click="item.isCollapsed = !item.isCollapsed">
        {{item.isCollapsed !== true ? "Open" : "Close"}}
      </button>
    </h3>
    <div id="details{{$index}}" class="collapse">
      <button class="btn btn-danger btn-md" ng-click="toggleEdit(item)" ng-show="!item.isEdit">Edit Budget</button>
      <button class="btn btn-primary btn-md" ng-click="saveBudget(item.monthlyBalance)" ng-show="item.isEdit">Save</button>
      <button class="btn btn-warning btn-md" ng-click="toggleEdit(item)" ng-show="item.isEdit">Cancel</button>
      <table class="table table-striped" st-table="item.expenses">
        <thead>
          <tr>
            <th st-sort="category.name">Category</th>
            <th st-sort="amount" st-sort-default="reverse">Amount</th>
            <th st-sort="budget" ng-class="{'hide-for-small': !item.isEdit}">Budget</th>
            <th ng-class="{'hide-for-small': item.isEdit}">Diff</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in item.expenses">
            <td>{{row.category.name}}</td>
            <td>{{row.amount | isoCurrency:row.currency}}</td>
            <td ng-class="{'hide-for-small': !item.isEdit}" ng-show="item.isEdit">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <input type="number" class="form-control" id="budget" pattern="\d+(.\d{1,2})?"
                       ng-model="row.budget">
              </div>
            </td>
            <td ng-class="{'hide-for-small': !item.isEdit}" ng-show="!item.isEdit">
              {{row.budget | isoCurrency:row.currency}}
            </td>
            <td ng-class="{'hide-for-small': item.isEdit}">
              {{getDiff(row) | isoCurrency:row.currency}}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Total:</td>
            <td>
              {{getTotalAmount(item.expenses) | isoCurrency:item.currency}}
            </td>
            <td ng-class="{'hide-for-small': !item.isEdit}">
              {{getTotalBudget(item.expenses) | isoCurrency:item.currency}}
            </td>
            <td ng-class="{'hide-for-small': item.isEdit}">
              {{(getTotalBudget(item.expenses) - getTotalAmount(item.expenses)) | isoCurrency:item.currency}}
            </td>
          </tr>
        </tfoot>
      </table>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="getTotalAmount(item.expenses) > 0">
          <canvas id="doughnut1" class="chart chart-doughnut"
                  chart-data="item.expenseAmounts" chart-labels="item.expenseLabels" chart-colors="colors">
          </canvas>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Category</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in item.nonExpenses">
            <td>{{row.category.name}}</td>
            <td>{{row.amount | isoCurrency:row.currency}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Total:</td>
            <td>{{getTotalAmount(item.nonExpenses) | isoCurrency:item.currency}}</td>
          </tr>
        </tfoot>
      </table>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="getTotalAmount(item.nonExpenses) > 0">
          <canvas id="doughnut2" class="chart chart-doughnut"
                  chart-data="item.nonExpenseAmounts" chart-labels="item.nonExpenseLabels" chart-colors="colors">
          </canvas>
        </div>
      </div>
    </div>
    <hr/>
  </div>

</form>
