<form role="form">

  <div class="form-group">
    <label class="control-label" for="targetMonth">Target Month</label>
    <input type="month" class="form-control" id="targetMonth" ng-model="targetMonth" ng-change="retrieve(targetMonth)">
  </div>

  <div ng-show="item.monthlyBalance.length > 0" ng-repeat="item in wrappedList">
    <h3>{{item.currency}}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in item.expenses">
          <td>{{row.category.name}}</td>
          <td>{{row.amount | isoCurrency:row.currency}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total:</td>
          <td>{{getTotal(item.expenses, true) | isoCurrency:item.currency}}</td>
        </tr>
      </tfoot>
    </table>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in item.nonExpenses">
          <td>{{row.category.name}}</td>
          <td>{{row.amount | isoCurrency:row.currency}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total:</td>
          <td>{{getTotal(item.nonExpenses, false) | isoCurrency:item.currency}}</td>
        </tr>
      </tfoot>
    </table>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <canvas id="doughnut1" class="chart chart-doughnut"
                chart-data="item.expenseAmounts" chart-labels="item.expenseLabels">
        </canvas>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <canvas id="doughnut2" class="chart chart-doughnut"
                chart-data="item.nonExpenseAmounts" chart-labels="item.nonExpenseLabels">
        </canvas>
      </div>
    </div>
    <hr/>
  </div>

</form>
