<form role="form">

  <div class="form-group">
    <label class="control-label" for="targetMonth">Target Month</label>
    <input type="month" class="form-control" id="targetMonth" ng-model="targetMonth" ng-change="retrieve(targetMonth)">
  </div>

  <div ng-show="item.monthlyBalance.length > 0" ng-repeat="item in wrappedList">
    <h3>{{item.currency}}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in getExpenses(item.monthlyBalance)">
          <td>{{row.category.name}}</td>
          <td>{{row.amount | isoCurrency:row.currency}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total:</td>
          <td>{{getTotal(item.monthlyBalance, true) | isoCurrency:item.currency}}</td>
        </tr>
      </tfoot>
    </table>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in getNonExpenses(item.monthlyBalance)">
          <td>{{row.category.name}}</td>
          <td>{{row.amount | isoCurrency:row.currency}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total:</td>
          <td>{{getTotal(item.monthlyBalance, false) | isoCurrency:item.currency}}</td>
        </tr>
      </tfoot>
    </table>
    <hr/>
  </div>

</form>
