<form role="form">

  <div class="form-group">
    <label class="control-label" for="targetMonth">Target Month</label>
    <input type="month" class="form-control" id="targetMonth" ng-model="targetMonth"
           ng-change="retrieve(targetMonth, currency)">
  </div>

  <div class="form-group">
    <label class="control-label" for="currency">Currency</label>
    <select class="form-control" name="currency" id="currency" ng-model="currency"
            ng-change="retrieve(targetMonth, currency)">
      <option ng-repeat="item in currencyList" ng-value="item">{{item}}</option>
    </select>
  </div>

  <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
      <tr>
        <th st-sort="calendar" st-sort-default="reverse" reverse>Date</th>
        <th st-sort="category.name">Category</th>
        <th st-sort="place.name" class="hide-for-small">Place</th>
        <th st-sort="event.name" class="hide-for-small">Event</th>
        <th st-sort="amount">Amount</th>
        <th ng-show="!isEditMode()" st-sort="description" class="hide-for-small">Description</th>
        <th ng-show="!isEditMode()" class="hide-for-large">Info</th>
        <th ng-show="isEditMode()">Edit/Delete</th>
      </tr>
      <tr>
        <th colspan="10">
          <input st-search placeholder="Free text search" class="input-sm form-control" type="search"/>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in displayedCollection" ng-class="{'income': !row.category.toExpense, 'isMine': !row.isMine}">
        <td>{{row.calendar | date:'MM/dd'}}</td>
        <td>{{row.category.name}}</td>
        <td class="hide-for-small">{{row.place.name}}</td>
        <td class="hide-for-small">{{row.event.name}}</td>
        <td ng-click="enableEdit(row)">
          {{row.amount | isoCurrency:row.currency}}
        </td>
        <td ng-show="!row.isEdit" class="hide-for-small">{{row.description}}</td>
        <td ng-show="!row.isEdit" class="hide-for-large">
          <i class="fa fa-fw fa-info-circle"
             ng-show="row.description"
             popover-placement="left"
             uib-popover="{{row.description}}"
             popover-trigger="'mouseenter'">
          </i>
        </td>
        <td ng-show="row.isEdit">
          <button class="btn btn-warning btn-lg" ng-click="edit(row)">Edit</button>
          <button class="btn btn-danger btn-lg" ng-click="delete(row)">Delete</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8" class="text-center">
          <div st-pagination="" st-items-by-page="itemPerPage" st-displayed-pages=""></div>
        </td>
      </tr>
    </tfoot>
  </table>

</form>
