<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
  <thead>
    <tr>
      <th st-sort="calendar">Date</th>
      <th st-sort="category.name">Category</th>
      <th st-sort="place.name">Place</th>
      <th st-sort="event.name">Event</th>
      <th st-sort="currency">Currency</th>
      <th st-sort="amount">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in displayedCollection">
      <td>{{row.calendar | date}}</td>
      <td>{{row.category.name}}</td>
      <td>{{row.place.name}}</td>
      <td>{{row.event.name}}</td>
      <td>{{row.currency}}</td>
      <td>{{row.amount | isoCurrency:row.currency}}</td>
    </tr>
  </tbody>
</table>
