<form role="form">

  <div class="form-group">
    <label class="control-label" for="targetMonth">Target Month</label>
    <input type="month" class="form-control" id="targetMonth" ng-model="targetMonth"
           ng-change="retrieve(targetMonth, currency)">
  </div>

  <currency-select currency="currency"></currency-select>

  <button class="btn btn-danger btn-md" ng-click="toggleBulkEdit()" ng-show="!isBulkEdit">Edit Budget</button>
  <button class="btn btn-primary btn-md" ng-click="saveBulkEdit()" ng-show="isBulkEdit">Save</button>
  <button class="btn btn-warning btn-md" ng-click="toggleBulkEdit()" ng-show="isBulkEdit">Cancel</button>

  <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
      <tr>
        <th st-sort="calendar" st-sort-default="reverse" reverse>Date</th>
        <th st-sort="category.name">Category</th>
        <th st-sort="event.name" class="hide-for-small">Event</th>
        <th st-sort="amount">Amount</th>
        <th ng-show="!isEditMode()" st-sort="description" class="hide-for-small">Description</th>
        <th ng-show="!isEditMode()" class="hide-for-large">Info</th>
        <th ng-show="isEditMode()">Edit/Delete</th>
      </tr>
      <tr>
        <th colspan="10">
          <input st-search placeholder="Free text search" class="input-sm form-control" type="search"/>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in displayedCollection" ng-class="{'income': !row.category.toExpense, 'isMine': !row.isMine}">
        <td>{{row.calendar | date:'MM/dd'}}</td>
        <td>{{row.category.name}}</td>
        <td class="hide-for-small">{{row.place.name}}</td>
        <td class="hide-for-small" ng-hide="isBulkEdit">{{row.event.name}}</td>
        <td class="hide-for-small" ng-show="isBulkEdit">
          <select class="form-control"
                  name="event{{$index}}"
                  id="event{{$index}}"
                  ng-model="row.event.publicId"
                  ng-change="row.isBulkEdit = true">
            <option value="">--</option>
            <option ng-repeat="item in eventList" ng-value="item.publicId">
              {{$index}} - {{item.name}}
            </option>
          </select>
        </td>
        <td ng-click="toggleEdit(row)">
          {{row.amount | isoCurrency:row.currency}}
        </td>
        <td ng-show="!row.isEdit" class="hide-for-small">{{row.description}}</td>
        <td ng-show="!row.isEdit" class="hide-for-large">
          <i class="fa fa-fw fa-info-circle"
             ng-show="row.description"
             popover-placement="left"
             uib-popover="{{row.description}}"
             popover-trigger="'mouseenter'">
          </i>
        </td>
        <td ng-show="row.isEdit">
          <button class="btn btn-warning btn-lg" ng-click="edit(row)">Edit</button>
          <button class="btn btn-danger btn-lg" ng-click="delete(row)">Delete</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8" class="text-center">
          <div st-pagination="" st-items-by-page="itemPerPage" st-displayed-pages=""></div>
        </td>
      </tr>
    </tfoot>
  </table>

</form>
